---
import Bagde from '../components/Bagde.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import GithubIcon from '../components/icons/Github.astro'
import SocialPill from '../components/SocialPill.astro';
import LinkdInIcon from '../components/icons/LinkdIn.astro';
import MailIcon from '../components/icons/Mail.astro'
import Experience from '../components/Experience.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import Projects from '../components/Projects.astro';
import CodeIcon from '../components/icons/Code.astro';
---

<Layout description='Contrata a Apa para crear apliacion web o movil . Dessarollador web y Teach Leader ' title="My DevPortfolio." >
	<main class="px-2">
		<SectionContainer class=" py-44 pb-32">
			<img 
				class=" rounded-full size-12 mb-4" 
				src='https://c.superprof.com/i/m/29481112/300/20240117120243/29481112.jpg' 
				alt="Main Photo"
			/>
	  
			<h1 class=" text-white text-3xl md:text-4xl  lg:text-5xl font-bold flex  flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I am daniel
				 <a 
					class=" flex justify-center items-center" 
					href="#"
					target="_blank" 
					rel="noopener"
					><Bagde> Available to work </Bagde>
				</a>
			</h1>

			<h2 class=" text-xl lg:text-2xl text-wrap max-w-[700px]"> 
				 <span class="text-white/90 opacity-80"> +15 years of experience.</span> <span class="text-yellow-200"> Web Developer and Technical Leader.</span><span class=" text-red-200"> From Guadalajara, Spain.</span> <span class="text-white/90 opacity-80"> Specialized in creating unique applications. </span> 
			</h2>
			
			<nav class=" flex gap-4 flex-wrap mt-8">
				<SocialPill>	
					<GithubIcon class=" size-4 md:size-6 " />	
					Github
				</SocialPill>
				<SocialPill>	
					<LinkdInIcon class=" size-4 md:size-6" />	
					Github
				</SocialPill>
				<SocialPill>	
					<MailIcon class="size-4 md:size-6" />	
					danidev@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class=" text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				Work experience
				<BriefCase class=" size-8" />
			</h2>	
			<Experience />
		</SectionContainer>

		<SectionContainer id="Proyectos" >
			<h2 class=" text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				Personal projects
				<CodeIcon class=" size-8" />
			</h2>	
			<Projects></Projects>
		</SectionContainer>
	</main>
</Layout>

