---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
{
    date: "Currently",
    title: " Front End Teach Lead | Orange & Jazztel",    
    description:
      'Creation of new architecture for the 2,500 Orange and Jazztel stores, creation of new architecture for the call centers'
},
  {
    date: "may.2018 - sept.2022",
    title: "Front End Teach Lead & Architect  − Microsoft",
    description:
      "Microsoft front end technical leader, application development in Angular, React and Vue with webpack and chunks, with node servers, application of solid and clean code conventions, application of patterns, development of visual code extensions, member of the Core Team Microsoft in github, development of the Web Template extension.",
    link: "#",
  },
  {
    date: "ago. 2013 - may. 2018",
    title: "Front End Team Lead  − Grupo SM ",
    description:
      "Modular architecture design under spa oop always looking for the best solution to each need. Promotion of internal training, pair programming, code reviews, solid, srp... We use Knockout, Angular, React, Redux, HTML5, CSS3, LESS, Visual Studio .Net ASP.NET MVC 4, Web API, Razor, c#, verdaccio as a private npm manager. We use TFS for version control and code flow.",
  },
  {
    date: "feb. 2013 - ago. 2013",
    title: " Head of IT − QUADRAM | Mobile Solutions",    
    description:
      "Designing solutions in backend services under webapi (Visual Studio 2013) and TSQL stored procedures (Sql Server) for mobile apps on iOS, Android.",
  },
  
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">     
    
    {
        EXPERIENCE.map( experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
         </li>
        ))
    }
   
</ol>

